<%= @cocktail.name %>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Add a dose", class: "btn btn-primary" %>
<% end %>


<ul>
  <% @cocktail.doses.each do |dose|  %>
 <li><%= dose.description %> | <%= dose.ingredient.name %> | <%= link_to "Delete dose", cocktail_dose_path(@cocktail, dose), :method => :delete  %></li>
 <% end %>
</ul>

<%# afficher la liste des doses  %>

<%= link_to "Back to list", cocktails_path(@cocktail) %>
